.App {
  /* text-align: center; */
  /* height: 500px; */
  border-right-width: 1px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  border-left: solid  #cfcdcd;
  border-bottom: solid  #cfcdcd;
  padding-left: 30px;
}

.Desktop{
  display: flex;
  flex-direction: row;
}

@media (max-width: 767.98px) { 
  .Desktop{
    display: none;
  }
  .Mobile{
    display: block;
  }
 }

 @media (min-width: 1199.98px) { 
  .Mobile{
    display: none;
  }
 }

 /* .Mobile{
  display: none;
} */


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
